body{
display: block;
flex-direction: column;
background-color: deepskyblue;


}
h1{
    color: chartreuse;
    font-style: oblique;
    font-family: 

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: cyan;

}

nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    box-sizing: border-box;



}

.intro{
font-size: large;
font-family: cursive;



}